<h1>Benvenuto in  EasyRails!</h1>
<%# <%= link_to 'Accedi', login_path do %>
<%#   <button>Accedi</button>
<%#   <% end %> 
<p>Stazione di partenza</p>
<%= label_tag :name, "Scegli la stazione di partenza:" %>
<%= text_field_tag :name, nil, placeholder: "Scrivi qui" %>
<p>Stazione di arrivo</p>
<%= label_tag :name, "Scegli la stazione di arrivo:" %>
<%= text_field_tag :name, nil, placeholder: "Scrivi qui" %>
