<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>EasyRail</title>
	<style>
		input {
			margin: 0;
			width: 240px;
		}
	</style>
	<script>
  		function popolaForm(part, arr) {
			document.getElementById("part").value = part;
			document.getElementById("arr").value = arr;
		}
	</script>
</head>
<body>
	<main style="background: url('<%= asset_path('back3.jpg') %>'); no-repeat; background-size: cover; background-position: center;">
	<!--Carousel di messaggi promozionali/codici sconto-->
	<div class="carousel-container">
		<div class="carousel my-carousel carousel--translate">
			<input class="carousel__activator" type="radio" name="carousel" id="1" checked="checked"/>
			<input class="carousel__activator" type="radio" name="carousel" id="2"/>
			<input class="carousel__activator" type="radio" name="carousel" id="3"/>

			<div class="carousel__controls">
				<label class="carousel__control carousel__control--forward" for="2"></label>
				<label class="carousel__control carousel__control--backward" for="3"></label>
			</div>
			<div class="carousel__controls">
				<label class="carousel__control carousel__control--backward" for="1"></label>
				<label class="carousel__control carousel__control--forward" for="3"></label>
			</div>
			<div class="carousel__controls">
				<label class="carousel__control carousel__control--backward" for="2"></label>
				<label class="carousel__control carousel__control--forward" for="1"></label>
			</div>
			<div class="carousel__track">
				<li class="carousel__slide" style="background-image: url('<%= asset_path('carousel1.png') %>'); text-align: center;">
					<p>Viaggia in serenità e risparmia con EasyRail!</p>
					<p>Solo per questa settimana, 20% di sconto sulla tariffa Economy, con codice sconto
						<span style="background-color: white; font-weight: bold; padding: 2px 6px 2px 6px; border-radius: 6px;">LABASSI25</span>
					</p>
				</li>
				<li class="carousel__slide" style="text-align: left; padding: 30px 0px 0px 50px; background-color: white;">
					<table style="background-color: yellow; border-radius: 10px;">						
						<tr>
							<td style="font-size: 80px; padding: 0px 0px 10px 30px;">&#x26A0;</td>
							<td style="font-size: 25px; padding: 0px 40px 10px 0px;">ATTENZIONE</td>
						</tr>
					</table>
					<p style="margin: 3% 10% 3% 1%;">Si informano i viaggiatori che per lavori di potenziamento infrastrutturale 
						<span style="text-decoration: underline 1px;">la tratta Milano-Torino sarà chiusa al traffico ferroviario</span>
						per tutta la giornata di sabato 1 marzo 2025. 
						<span style="text-decoration: underline 1px;">Tutti i treni che coinvolgono tale tratta sono pertanto cancellati.</span>
					</p>
					<p style="margin: 3% 10% 3% 1%;">
						Si informa inoltre che al momento è possibile prenotare viaggi fino al 30/06/2025, poiché le date successive sono ancora da assegnare.
					</p>
				</li>
				<li class="carousel__slide" style="background-image: url('<%= asset_path('carousel3.png') %>'); text-align: right;">
					<div style="margin-right: 10px; min-width: 100px;">
						<h1>Con EasyRail</h1>
						<p>Scopri le principali città italiane<br>a prezzi imbattibili!</p>
						<p>Le nostre destinazioni sono:<br>Roma, Milano, Venezia, Napoli,<br>Firenze, Bologna e Torino.</p>
						<p>Ogni giorno, offriamo ai nostri<br>clienti decine di collegamenti.<br>Scoprili tutti!</p>
					</div>
				</li>
			</div>
			<div class="carousel__indicators">
				<label class="carousel__indicator" for="1"></label>
				<label class="carousel__indicator" for="2"></label>
				<label class="carousel__indicator" for="3"></label>
			</div>
		</div>
	</div>
	
	<!--Form Cerca viaggio-->	
	<div style="">
	<form action="" method="get" onsubmit="salvaRicerca(); return (validaStz() && validaDate());" autocomplete="off" name="form" id="form" style="min-width: 666px; max-width: 666px; margin-bottom: 90px; text-align: center;">
			<div class="formhead">Cerca viaggio</div> 
			<p>
				<label for="part">Da</label>
				<input list="stazioni" name="part" id="part" maxlength="27" placeholder=" inserisci stazione di partenza">
				<button onclick="swap()" class="swap" type="button">&rlarr;</button>
				<label for="arr">A</label>
				<input list="stazioni" name="arr" id="arr" maxlength="27" placeholder=" inserisci stazione di arrivo">

				<datalist id="stazioni">
					<option value="Bologna Centrale"></option>
					<option value="Firenze Santa Maria Novella"></option>
					<option value="Milano Centrale"></option>
					<option value="Napoli Centrale"></option>
					<option value="Roma Termini"></option>
					<option value="Torino Porta Nuova"></option>
					<option value="Venezia Santa Lucia"></option>
				</datalist>
			</p>
			<p>
				<div class="dropdown">
					<button class="btn btn-secondary dropdown-toggle" type="button" id="recentSearchesDropdown" data-bs-toggle="dropdown" aria-expanded="false" style="color: black; background-color: lightgray;">
					Ultime ricerche
					</button>
					<ul class="dropdown-menu" aria-labelledby="recentSearchesDropdown">
					<% if user_signed_in? %>
						<% if @recent_searches.any? %>
						<% @recent_searches.each do |search| %>
							<li>
							<a class="dropdown-item" href="javascript:void(0);" onclick="popolaForm('<%= search.departure_station %>', '<%= search.arrival_station %>')">
								<%= search.departure_station %> &rarr; <%= search.arrival_station %>
							</a>
							</li>
						<% end %>
						<% else %>
						<li><span class="dropdown-item">Non hai ancora effettuato una ricerca</span></li>
						<% end %>
					<% else %>
						<li><span class="dropdown-item">Effettua il login per vedere le tue ultime ricerche</span></li>
					<% end %>
					</ul>
				</div>
			</p>
			<p>
					<label for="onOff">Andata e ritorno</label>
					<input onclick="ritornoOnOff()" class="checkbox" type="checkbox" id="onOff" name="onOff">
					<label for="onOff" class="toggle">
			</p>
			<p>
				<label for="dataAnd">Andata</label>
				<input oninput="vincoliDate()" type="date" name="dataAnd" id="dataAnd" max="2025-06-30" style="width: 160px;">
				<label for="dataRit" id="lr" style="margin-left: 24px; opacity: 0.5;">Ritorno</label>
				<input oninput="vincoliDate()" type="date" name="dataRit" id="dataRit" max="2025-06-30" disabled style="width: 160px; opacity: 0.5;">
			</p>
			<label for="pass">Passeggeri (massimo: 10)</label>
				<button type="button" onclick="subPass()" class="addSubPass">-</button>
				<input type="number" name="pass" id="pass" readonly value="1" style="width: 40px; border: hidden; background-color: rgb(224, 224, 224); text-align: center;">
				<button type="button" onclick="addPass()" class="addSubPass">+</button>
			<p>
				<label for="cs">Codice sconto (opzionale) </label>
				<input class="cs" type="text" name="cs" id="cs" style="width: 160px;">
			</p>
			<p>
				<div style="text-align: center;">
				<input class="button" type="submit" value="Cerca" id="cerca">
				<input class="button" type="reset" value="Cancella" id="cancella">
				</div>
			<p>
		</form>
	</div>
	</main>
</body>
</html>