<title>Visualizza informazioni</title>
<style>
	th {
		font-weight: 600;
	}
	td {
		padding: 0px 10px 0px 10px;
	}
	/*Barra orizzontale avanzamento treno*/
	.horizontal-bar {
		color: white;
		text-align: center;
		overflow: hidden;
	}
	/*Zona lampeggiante*/
	@keyframes blinker {
		50% {
			background-color: rgb(100, 100, 240);
		}
	}
	.blinking {
		animation: blinker 3s linear infinite;
	}
	@keyframes slide {
		0% {
			left: -110%;
		}
		100% {
			left: 125%;
		}
	}
	img {
		position: relative;
		margin-top: 2px;
		width: 48px;
		animation: slide 3s linear infinite;
	}
</style>
<% if @train %>
	<div class=train-status>
		<table style="font-size: 24px; width: 90%;">
			<tr>
				<td>EasyRail #<%= @train.id %></td>
				<td style="text-align: right;"><%= Time.current.strftime("%d/%m/%Y") %></td>
			</tr>
		</table>

		<!-- Subheader -->
		<div style="border-bottom: solid 1px black; padding-bottom: 10px;">
			Da 
			<span style="font-weight: 600;"><%= @train.f0 %></span> 
			a 
			<span style="font-weight: 600;"><%= @train.f5 %></span><br>
		</div>

		<p style="margin-top: 20px;">Stato treno:
			<% ora = Time.now.in_time_zone("Rome").strftime("%H:%M:%S") %>
			<% if ora < @train.hf0 %>
				<span class="box-stato">NON PARTITO</span>
			<% elsif ora >= @train.hf5 %>
				<span class="box-stato">FINE CORSA</span>
			<% else %>
				<span class="box-stato">IN VIAGGIO</span>
			<% end %>
		</p>

		<p>
			<table style="width: 100%; text-align: left;">
				<tr>
				<th>Fermata</th>
				<% (0..5).each do |i| %>
					<% if @train.send("f#{i}").present? %>
					<td style="text-align: center;"><%= @train.send("f#{i}") %></td>
					<% end %>
				<% end %>
				</tr>
				
				<tr>
				<th>Orario partenza</th>
				<% (0..5).each do |i| %>
					<% hf = @train["hf#{i}"] %>
					<% if hf.present? %>
						<td style="text-align: right;"><%= Time.parse(hf).strftime("%H:%M") %></td>
					<% end %>
				<% end %>
				</tr>
				<!--Distanziamento righe-->
				<tr><td><p></p></td></tr>
				<tr>
					<th>Avanzamento</th>
					<% lampeggiante = true %>
					<% (0..5).each do |c| %>
						<% orafermata = @train.send("hf#{c}") %>
						<% orafermataprec = (0...c).reverse_each.find { |n| @train["hf#{n}"].present? }.then { |n| @train["hf#{n}"] } %>

						<% if orafermata.present? %>
							<% if lampeggiante && ora < orafermata && orafermataprec && ora >= orafermataprec %>
								<td class="horizontal-bar blinking" style="background-color: rgb(16, 16, 104); text-align: left;<%= c == 5 ? ' border-top-right-radius: 20px; border-bottom-right-radius: 20px;' : '' %>">
									<%= image_tag "minitreno.png" %>
								</td>
								<% lampeggiante = false %>
							<% elsif ora < orafermata %>
								<td class="horizontal-bar" style="background-color: rgb(200, 200, 200);<%= c == 0 ? ' border-top-left-radius: 20px; border-bottom-left-radius: 20px;' : '' %><%= c == 5 ? ' border-top-right-radius: 20px; border-bottom-right-radius: 20px;' : '' %>">
								</td>
							<% elsif ora >= orafermata %>
								<td class="horizontal-bar" style="background-color: rgb(16, 16, 104);<%= c == 0 ? ' border-top-left-radius: 20px; border-bottom-left-radius: 20px;' : '' %><%= c == 5 ? ' border-top-right-radius: 20px; border-bottom-right-radius: 20px;' : '' %>">
									<%= c == 0 ? 'Partito ✔' : (c == 5 ? 'Arrivato ✔' : '✔') %>
								</td>
							<% end %>
						<% end %>
					<% end %>
				</tr>
			</table>
		</p>
	</div>
<% end %>
