<title>Tratte corrispondenti</title>

<% hide_footer! %>

<h3 style="text-align: center; margin-top: 30px;">Risultati della ricerca</h3>

<% if @travels.any? %>
  <table class="table" style="margin: auto; width: 80%; text-align: center; border-collapse: collapse; margin-bottom: 30px;">
    <thead>
      <tr>
        <th>Codice Treno</th>
        <th>Partenza</th>
        <th>Destinazione</th>
        <th>Orario Partenza</th>
        <th>Orario Arrivo</th>
        <th>Prezzo Economy</th>
        <th>Prezzo Prima Classe</th>
        <th>Modifica prezzi</th> <!-- Aggiungiamo il nome alla colonna -->
      </tr>
    </thead>
    <tbody>
      <% @travels.each do |travel| %>
        <tr>
          <td><%= travel.cod %></td>
          <td><%= travel.part %></td>
          <td><%= travel.dest %></td>
          <td><%= travel.hpar %></td>
          <td><%= travel.harr %></td>
          <td>€<%= travel.pe %></td>
          <td>€<%= travel.pp %></td>
          <td>
            <!-- Bottoni separati con uno stile distintivo -->
            <div style="margin-bottom: 10px;">
              <%= link_to 'Modifica Prezzo Economy', 
                edit_price_admin_travel_path(cod: travel.cod, part: travel.part, dest: travel.dest, type: 'economy'), 
                class: 'button', style: 'display: inline-block; margin: 5px; background-color: #f0ad4e; color: white; padding: 5px 10px; text-decoration: none; border-radius: 4px;' %>
            </div>
            <div>
              <%= link_to 'Modifica Prezzo Prima Classe', 
                edit_price_admin_travel_path(cod: travel.cod, part: travel.part, dest: travel.dest, type: 'premium'), 
                class: 'button', style: 'display: inline-block; margin: 5px; background-color: #337ab7; color: white; padding: 5px 10px; text-decoration: none; border-radius: 4px;' %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p style="text-align: center; margin-top: 20px;">Nessun risultato trovato.</p>
<% end %>

